<a href="https://colab.research.google.com/github/SamarHamdy/Train.csv/blob/main/FinalProj_Samar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
#%matplotlib inline


filename='LoanExport.csv'
Loan_data= pd.read_csv(filename)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
type(Loan_data)

pandas.core.frame.DataFrame

In [3]:
print(Loan_data.shape)

(49622, 28)

In [4]:
print(Loan_data.columns)

Index(['CreditScore', 'FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate',
       'MSA', 'MIP', 'Units', 'Occupancy', 'OCLTV', 'DTI', 'OrigUPB', 'LTV',
       'OrigInterestRate', 'Channel', 'PPM', 'ProductType', 'PropertyState',
       'PropertyType', 'PostalCode', 'LoanSeqNum', 'LoanPurpose',
       'OrigLoanTerm', 'NumBorrowers', 'SellerName', 'ServicerName',
       'EverDelinquent', 'MonthsDelinquent', 'MonthsInRepayment'],
      dtype='object')

In [5]:
Loan_data.dtypes

CreditScore             int64
FirstPaymentDate        int64
FirstTimeHomebuyer     object
MaturityDate            int64
MSA                    object
MIP                     int64
Units                   int64
Occupancy              object
OCLTV                   int64
DTI                     int64
OrigUPB                 int64
LTV                     int64
OrigInterestRate      float64
Channel                object
PPM                    object
ProductType            object
PropertyState          object
PropertyType           object
PostalCode             object
LoanSeqNum             object
LoanPurpose            object
OrigLoanTerm            int64
NumBorrowers           object
SellerName             object
ServicerName           object
EverDelinquent        float64
MonthsDelinquent      float64
MonthsInRepayment     float64
dtype: object

Abbriviations: 

MSA - Marketing Services Agreements

OCLTV - Combined loan-to-value

LTV - Loan to value

PPM - Private Placement Memorandum

Mip% - Mortgag Insurance Percentage / MIP- Mortgage Insurance Premium

OCLTV - Original Combined Loan to Value

DTI - Debt to Income ratio

In [6]:
Loan_data.describe()

,CreditScore,FirstPaymentDate,MaturityDate,MIP,Units,OCLTV,DTI,OrigUPB,LTV,OrigInterestRate,OrigLoanTerm,EverDelinquent,MonthsDelinquent,MonthsInRepayment
count,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49622.000000,49621.000000,49621.000000,49621.000000
mean,614.423018,199904.567833,202902.331164,12.648261,1.020958,81.214824,31.872335,122440.792390,81.198843,7.011255,359.857523,0.392797,5.214909,62.915459
std,99.512301,10.175349,16.281756,13.294532,0.173761,12.399260,12.359825,51974.667539,12.396691,0.387686,2.056451,0.488377,14.991985,48.961204
min,0.000000,199902.000000,202405.000000,0.000000,1.000000,0.000000,0.000000,10000.000000,0.000000,4.750000,301.000000,0.000000,0.000000,1.000000
25%,618.000000,199903.000000,202902.000000,0.000000,1.000000,75.000000,25.000000,82000.000000,75.000000,6.750000,360.000000,0.000000,0.000000,34.000000
50%,635.000000,199904.000000,202903.000000,12.000000,1.000000,80.000000,33.000000,115000.000000,80.000000,7.000000,360.000000,0.000000,0.000000,49.000000
75%,648.000000,199905.000000,202904.000000,25.000000,1.000000,90.000000,40.000000,156000.000000,90.000000,7.125000,360.000000,1.000000,2.000000,68.000000
max,658.000000,200405.000000,203308.000000,52.000000,4.000000,110.000000,65.000000,400000.000000,103.000000,11.500000,360.000000,1.000000,180.000000,212.000000

In [7]:
Loan_data.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,52.0
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0.0,0.0,144.0
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0.0,0.0,67.0
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0.0,0.0,35.0
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0.0,0.0,54.0

In [8]:
Loan_data.tail()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
49617,658,199904,N,202903,12060,30,1,O,95,17,...,30000,F199Q1016652,P,360,2,FT,CHASEMTGECO,0.0,0.0,49.0
49618,658,199904,N,202903,12060,30,1,O,95,27,...,30200,F199Q1069941,P,360,2,CO,COUNTRYWIDE,0.0,0.0,49.0
49619,658,199904,N,202903,12260,0,1,O,68,33,...,29800,F199Q1272292,N,360,1,Ot,Other servicers,0.0,0.0,49.0
49620,658,199904,N,202903,12260,30,1,O,95,25,...,29800,F199Q1098235,P,360,1,NaN,BANKOFAMERICANA,1.0,6.0,210.0
49621,658,199904,N,202903,12260,30,1,O,95,34,...,30900,F199Q1137311,P,360,1,CO,COUNTRYWIDE,NaN,NaN,NaN

In [9]:
Loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49622 entries, 0 to 49621
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CreditScore         49622 non-null  int64
 1   FirstPaymentDate    49622 non-null  int64
 2   FirstTimeHomebuyer  49622 non-null  object
 3   MaturityDate        49622 non-null  int64
 4   MSA                 49622 non-null  object
 5   MIP                 49622 non-null  int64
 6   Units               49622 non-null  int64
 7   Occupancy           49622 non-null  object
 8   OCLTV               49622 non-null  int64
 9   DTI                 49622 non-null  int64
 10  OrigUPB             49622 non-null  int64
 11  LTV                 49622 non-null  int64
 12  OrigInterestRate    49622 non-null  float64
 13  Channel             49622 non-null  object
 14  PPM                 49622 non-null  object
 15  ProductType         49622 non-null  object
 16  PropertyState       49622 non-null  object
 17  PropertyType        49622 non-null  object
 18  PostalCode          49622 non-null  object
 19  LoanSeqNum          49622 non-null  object
 20  LoanPurpose         49622 non-null  object
 21  OrigLoanTerm        49622 non-null  int64
 22  NumBorrowers        49622 non-null  object
 23  SellerName          45500 non-null  object
 24  ServicerName        49622 non-null  object
 25  EverDelinquent      49621 non-null  float64
 26  MonthsDelinquent    49621 non-null  float64
 27  MonthsInRepayment   49621 non-null  float64
dtypes: float64(4), int64(10), object(14)
memory usage: 10.6+ MB

Processing Data

In [10]:
#find null values
Loan_data.isnull().sum()

CreditScore              0
FirstPaymentDate         0
FirstTimeHomebuyer       0
MaturityDate             0
MSA                      0
MIP                      0
Units                    0
Occupancy                0
OCLTV                    0
DTI                      0
OrigUPB                  0
LTV                      0
OrigInterestRate         0
Channel                  0
PPM                      0
ProductType              0
PropertyState            0
PropertyType             0
PostalCode               0
LoanSeqNum               0
LoanPurpose              0
OrigLoanTerm             0
NumBorrowers             0
SellerName            4122
ServicerName             0
EverDelinquent           1
MonthsDelinquent         1
MonthsInRepayment        1
dtype: int64

In [11]:
Loan_data.corr()

,CreditScore,FirstPaymentDate,MaturityDate,MIP,Units,OCLTV,DTI,OrigUPB,LTV,OrigInterestRate,OrigLoanTerm,EverDelinquent,MonthsDelinquent,MonthsInRepayment
CreditScore,1.000000,-0.010667,0.011898,-0.001684,-0.038918,0.016865,0.062162,0.028736,0.016870,-0.026475,0.016799,0.015190,-0.001254,-0.016277
FirstPaymentDate,-0.010667,1.000000,0.122488,-0.021883,0.002593,-0.019276,0.006614,0.030889,-0.021109,0.038171,-0.470795,-0.022503,-0.014229,-0.026680
MaturityDate,0.011898,0.122488,1.000000,-0.011226,0.002319,-0.008309,0.052536,0.016653,-0.009532,-0.004488,0.800621,-0.008362,0.000251,-0.002828
MIP,-0.001684,-0.021883,-0.011226,1.000000,-0.046727,0.775210,0.048945,0.052658,0.776046,0.110237,0.005840,0.017077,0.015770,-0.095555
Units,-0.038918,0.002593,0.002319,-0.046727,1.000000,-0.065798,-0.002723,0.055438,-0.065694,0.044368,0.000912,0.003204,-0.009295,0.007334
OCLTV,0.016865,-0.019276,-0.008309,0.775210,-0.065798,1.000000,0.044662,0.107749,0.999386,0.061849,0.006602,0.024113,0.029876,-0.088067
DTI,0.062162,0.006614,0.052536,0.048945,-0.002723,0.044662,1.000000,0.089244,0.044263,0.069802,0.040484,0.018717,0.014495,-0.014944
OrigUPB,0.028736,0.030889,0.016653,0.052658,0.055438,0.107749,0.089244,1.000000,0.107158,-0.113930,-0.003439,-0.073281,-0.086382,-0.193508
LTV,0.016870,-0.021109,-0.009532,0.776046,-0.065694,0.999386,0.044263,0.107158,1.000000,0.062305,0.006533,0.024223,0.029997,-0.088671
OrigInterestRate,-0.026475,0.038171,-0.004488,0.110237,0.044368,0.061849,0.069802,-0.113930,0.062305,1.000000,-0.023640,0.038345,0.033780,-0.111054
OrigLoanTerm,0.016799,-0.470795,0.800621,0.005840,0.000912,0.006602,0.040484,-0.003439,0.006533,-0.023640,1.000000,0.005660,0.008621,0.012131
EverDelinquent,0.015190,-0.022503,-0.008362,0.017077,0.003204,0.024113,0.018717,-0.073281,0.024223,0.038345,0.005660,1.000000,0.432488,0.278381
MonthsDelinquent,-0.001254,-0.014229,0.000251,0.015770,-0.009295,0.029876,0.014495,-0.086382,0.029997,0.033780,0.008621,0.432488,1.000000,0.448435
MonthsInRepayment,-0.016277,-0.026680,-0.002828,-0.095555,0.007334,-0.088067,-0.014944,-0.193508,-0.088671,-0.111054,0.012131,0.278381,0.448435,1.000000